<!-- <p>workspace works!</p> -->
<!-- 
<router-outlet></router-outlet> -->



  <div class="row no-gutters mt-2">
    <div class="col-md-11 p-5 pt-2 dashboard">
        <div class="row">
            <div class="col">
                <h3 class="workspace">Workspace</h3>
            </div>
            <div class="col button-das">
                <div class="btn-group group-btn">
                    <button class="btn btn btn-outline-dark outline">Create Workspace</button>&nbsp;
                    <a routerLink="account" href="#" class="btn btn btn-outline-dark outline" aria-current="page">Account</a>
                    <a href="#" class="btn btn btn-outline-dark active">Workspace</a>
                  </div>
            </div>
        </div><br>
        <div class="row group-workspace">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="">
                                <div class="google-group">
                                    <img [src]="image" alt="" class="google-img">
                                    <h5 class="text-16 ">Google Company</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col">
                                      <p class="text-13">Max Account</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                    <div class="col">
                                      <p class="text-13">Max Assesment</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <img [src]="vektor" alt="" class=""> -->
                                        <i class="fa-solid fa-calendar"></i>
                                      <p class="text-11">21-04-2021</p>
                                    </div>
                                    <div class="col">
                                      <!-- <p class="text-11-2">tess</p> -->
                                      <div class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <i class="fa-solid fa-trash-can"></i>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="">
                                <div class="google-group">
                                    <img [src]="netflix" alt="" class="google-img">
                                    <h5 class="text-16 ">Netflix</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col">
                                      <p class="text-13">Max Account</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                    <div class="col">
                                      <p class="text-13">Max Assesment</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <img [src]="vektor" alt="" class=""> -->
                                        <i class="fa-solid fa-calendar"></i>
                                      <p class="text-11">21-04-2021</p>
                                    </div>
                                    <div class="col">
                                      <!-- <p class="text-11-2">tess</p> -->
                                      <div class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <i class="fa-solid fa-trash-can"></i>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-xl-3 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="">
                                <div class="google-group">
                                    <img [src]="gojek" alt="" class="google-img">
                                    <h5 class="text-16 ">Gojek</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col">
                                      <p class="text-13">Max Account</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                    <div class="col">
                                      <p class="text-13">Max Assesment</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <img [src]="vektor" alt="" class=""> -->
                                        <i class="fa-solid fa-calendar"></i>
                                      <p class="text-11">21-04-2021</p>
                                    </div>
                                    <div class="col">
                                      <!-- <p class="text-11-2">tess</p> -->
                                      <!-- <div class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <i class="fa-solid fa-trash-can"></i>
                                      </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-xl-3 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="">
                                <div class="google-group">
                                    <img [src]="paypal" alt="" class="google-img">
                                    <h5 class="text-16 ">Paypal</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col">
                                      <p class="text-13">Max Account</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                    <div class="col">
                                      <p class="text-13">Max Assesment</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <img [src]="vektor" alt="" class=""> -->
                                        <i class="fa-solid fa-calendar"></i>
                                      <p class="text-11">21-04-2021</p>
                                    </div>
                                    <div class="col">
                                      <!-- <p class="text-11-2">tess</p> -->
                                      <div class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <i class="fa-solid fa-trash-can"></i>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row group-workspace">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="">
                                <div class="google-group">
                                    <img [src]="grab" alt="" class="google-img">
                                    <h5 class="text-16 ">Grab</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col">
                                      <p class="text-13">Max Account</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                    <div class="col">
                                      <p class="text-13">Max Assesment</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <img [src]="vektor" alt="" class=""> -->
                                        <i class="fa-solid fa-calendar"></i>
                                      <p class="text-11">21-04-2021</p>
                                    </div>
                                    <div class="col">
                                      <!-- <p class="text-11-2">tess</p> -->
                                      <div class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <i class="fa-solid fa-trash-can"></i>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="">
                                <div class="google-group">
                                    <img [src]="image" alt="" class="google-img">
                                    <h5 class="text-16 ">Google Company</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col">
                                      <p class="text-13">Max Account</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                    <div class="col">
                                      <p class="text-13">Max Assesment</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <img [src]="vektor" alt="" class=""> -->
                                        <i class="fa-solid fa-calendar"></i>
                                      <p class="text-11">21-04-2021</p>
                                    </div>
                                    <div class="col">
                                      <!-- <p class="text-11-2">tess</p> -->
                                      <div class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <i class="fa-solid fa-trash-can"></i>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-xl-3 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="">
                                <div class="google-group">
                                    <img [src]="tesla" alt="" class="google-img">
                                    <h5 class="text-16 ">Tesla</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col">
                                      <p class="text-13">Max Account</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                    <div class="col">
                                      <p class="text-13">Max Assesment</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <img [src]="vektor" alt="" class=""> -->
                                        <i class="fa-solid fa-calendar"></i>
                                      <p class="text-11">21-04-2021</p>
                                    </div>
                                    <div class="col">
                                      <!-- <p class="text-11-2">tess</p> -->
                                      <div class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <i class="fa-solid fa-trash-can"></i>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-xl-3 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="">
                                <div class="google-group">
                                    <img [src]="paypal" alt="" class="google-img">
                                    <h5 class="text-16 ">Paypal</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col">
                                      <p class="text-13">Max Account</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                    <div class="col">
                                      <p class="text-13">Max Assesment</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <img [src]="vektor" alt="" class=""> -->
                                        <i class="fa-solid fa-calendar"></i>
                                      <p class="text-11">21-04-2021</p>
                                    </div>
                                    <div class="col">
                                      <!-- <p class="text-11-2">tess</p> -->
                                      <div class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <i class="fa-solid fa-trash-can"></i>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row group-workspace">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="">
                                <div class="google-group">
                                    <img [src]="image" alt="" class="google-img">
                                    <h5 class="text-16 ">Google Company</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col">
                                      <p class="text-13">Max Account</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                    <div class="col">
                                      <p class="text-13">Max Assesment</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <img [src]="vektor" alt="" class=""> -->
                                        <i class="fa-solid fa-calendar"></i>
                                      <p class="text-11">21-04-2021</p>
                                    </div>
                                    <div class="col">
                                      <!-- <p class="text-11-2">tess</p> -->
                                      <div class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <i class="fa-solid fa-trash-can"></i>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="">
                                <div class="google-group">
                                    <img [src]="paypal" alt="" class="google-img">
                                    <h5 class="text-16 ">Paypal</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col">
                                      <p class="text-13">Max Account</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                    <div class="col">
                                      <p class="text-13">Max Assesment</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <img [src]="vektor" alt="" class=""> -->
                                        <i class="fa-solid fa-calendar"></i>
                                      <p class="text-11">21-04-2021</p>
                                    </div>
                                    <div class="col">
                                      <!-- <p class="text-11-2">tess</p> -->
                                      <div class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <i class="fa-solid fa-trash-can"></i>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-xl-3 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="">
                                <div class="google-group">
                                    <img [src]="grab" alt="" class="google-img">
                                    <h5 class="text-16 ">Grab</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col">
                                      <p class="text-13">Max Account</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                    <div class="col">
                                      <p class="text-13">Max Assesment</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <img [src]="vektor" alt="" class=""> -->
                                        <i class="fa-solid fa-calendar"></i>
                                      <p class="text-11">21-04-2021</p>
                                    </div>
                                    <div class="col">
                                      <!-- <p class="text-11-2">tess</p> -->
                                      <div class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <i class="fa-solid fa-trash-can"></i>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-xl-3 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="">
                                <div class="google-group">
                                    <img [src]="tesla" alt="" class="google-img">
                                    <h5 class="text-16 ">Tesla</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    <div class="col">
                                      <p class="text-13">Max Account</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                    <div class="col">
                                      <p class="text-13">Max Assesment</p>
                                      <h4 class="text-13-2">21/21</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <img [src]="vektor" alt="" class=""> -->
                                        <i class="fa-solid fa-calendar"></i>
                                      <p class="text-11">21-04-2021</p>
                                    </div>
                                    <div class="col">
                                      <!-- <p class="text-11-2">tess</p> -->
                                      <div class="icon-square">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <i class="fa-solid fa-trash-can"></i>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col button-das number">
          <div class="btn-group group-btn-2">
              <button class="btn btn btn-outline-dark outline"><</button>&nbsp;
              <a href="#" class="btn btn btn-outline-dark outline active" aria-current="page">1</a>
              <a href="#" class="btn btn btn-outline-dark">2</a>
              <a href="#" class="btn btn btn-outline-dark">3</a>
              <a href="#" class="btn btn btn-outline-dark">4</a>
              <a href="#" class="btn btn btn-outline-dark">></a>
            </div>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>
