<nav class="navbar navbar-expand-lg bg-light" *ngIf="authenticationService.isAuthenticated">
  <div class="container-fluid nav">
    <a class="navbar-brand nav-link" href="#"><img [src]="logo" alt="" class="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex search-position" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        <!-- <img [src]="cek" alt="" class=""> -->
      </div>
      <div class="icon">
        <div class="account-div">
          <!-- <i class="fas fa-envelope icon-1" title="pesan"></i> -->
          <i class="fas fa-bell icon-2" title="notifikasi"></i>
          <img [src]="account" alt="" class="account">
          <!-- <i class="fas fa-sign-out-alt icon-3" title="logout"></i> -->
        </div>
        <h6 class="bayuna">Bayuna Rama</h6>
      </div>
    </div>
  </div>
</nav>


<div class="row no-gutters mt-2" *ngIf="authenticationService.isAuthenticated">
  <div class="col-md-1 menu">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="homepage" class="nav-link active bar" aria-current="page" href="#"><i class="fa-solid fa-house icon-semua"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link bar" href="#"><i class="fa-solid fa-bars icon-semua"></i></a>
      </li>
      <li class="nav-item">
        <a routerLink="workspace" class="nav-link bar" href="#"><i class="fa-solid fa-bookmark icon-semua"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link bar" href="#"><i class="fa-solid fa-user icon-semua"></i></a>
      </li>
    </ul>
  </div>
  <div class="col-md-11 p-5 pt-2 dashboard">
    <h3 class="mr-2"><router-outlet></router-outlet></h3>
  </div>
</div>
<div class="container" *ngIf="authenticationService.isLogin">
  <app-login></app-login>
</div>
