.d-flex {
    margin-left: auto !important;
}

.nav {
    background-color: white;
}

.icon-1 {
    margin-left: 20px;
}
.icon-2 {
    margin-left: 20px;
    margin-right: 20px;
}

.icon-3 {
    margin-right: 0px;
}

.home {
    color: black;
}

.nav-link {
    color: #0F123F;
}

.dashboard {
    padding: 0px !important;
    background-color: #E5E5E5;
}

.navbar {
    padding: 0px !important;
    margin-top: 10px;
}

/* .menu {
    padding-left: 30px;
    padding-right: 0px;
} */

.icon-semua {
    /* margin: 25px; */
    position: relative;
    left: 10px;
    color: #0F123F;
}

.bar {
    padding: 0px !important;
    margin: 25px;
}

.icon-nav {
    padding-left: 25px;
}

.bg-body {
    overflow: hidden;
    background: #E5E5E5;;
}

/* .fa-magnifying-glass {
    padding-right: 50px;
} */

.btn-button {
    position: relative;
    right: 50px;
}

.account {
    border-radius: 20px;
    position: relative;
    right: 10px;
}

.account-div {
    position: relative;
    top: 15px;
    right: 90px;
}

.bayuna {
    position: relative;
    right: 6px;
    top: -9px;
}

.search-position {
    position: relative;
    right: 30px;
}

/* .bg-card {
    overflow-x: hidden;
} */