<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-md-11 p-5 pt-2 dashboard">
        <div class="row">
            <div class="col">
                <h3>Dashboard</h3>
            </div>
            <div class="col button-das">
                <div class="btn-group">
                    <a href="#" class="btn btn btn-outline-dark active account-active" aria-current="page">Account</a>
                    <a routerLink="/workspace" href="#" class="btn btn btn-outline-dark">Workspace</a>
                  </div>
            </div><br><br><br>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex" role="search">
                    <input class="form-control me-2 button-search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-button btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                  </div>
            </div>
            <div class="col">
                <div class="d-flex position-btn" role="search">
                    <input class="form-control me-2 button-search" type="search" placeholder="Short:" aria-label="Search">
                    <p class="descending">Descending</p>
                    <button type="button" class="btn btn-outline-dark btn-create">Create Account</button>
                    <!-- <button class="btn btn-button btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button> -->
                  </div>
            </div>
        </div>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col"></th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-light">
                <th scope="row"><i class="fa-solid fa-square"></i>&nbsp;&nbsp;<i class="fa-solid fa-circle fa-cicle-color"></i></th>
                <td>adminRahasia123</td>
                <td>089672832132</td>
                <td>ebdesk@gmail.com</td>
                <td>Test123@</td>
                <td><button type="button" class="btn btn-secondary btn-btn-color-2">Active</button></td>
                <td>...</td>
              </tr>
              <tr>
                <th scope="row"><i class="fa-solid fa-square"></i>&nbsp;&nbsp;<i class="fa-solid fa-circle fa-color-2"></i></th>
                <td>adminRahasia123</td>
                <td>089672832132</td>
                <td>ebdesk@gmail.com</td>
                <td>Test123@</td>
                <td><button type="button" class="btn btn-secondary btn-btn-color">Disable</button></td>
                <td>...</td>
              </tr>
              <tr class="table-light">
                <th scope="row"><i class="fa-solid fa-square-check"></i>&nbsp;&nbsp;<i class="fa-solid fa-circle fa-color-2"></i></th>
                <td>adminRahasia123</td>
                <td>089672832132</td>
                <td>ebdesk@gmail.com</td>
                <td>Test123@</td>
                <td><button type="button" class="btn btn-secondary btn-btn-color">Active</button></td>
                <td>...</td>
              </tr>
              <tr>
                <th scope="row"><i class="fa-solid fa-square"></i>&nbsp;&nbsp;<i class="fa-solid fa-circle fa-cicle-color"></i></th>
                <td>adminRahasia123</td>
                <td>089672832132</td>
                <td>ebdesk@gmail.com</td>
                <td>Test123@</td>
                <td><button type="button" class="btn btn-secondary btn-btn-color-2">Active</button></td>
                <td>...</td>
              </tr>
              <tr class="table-light">
                <th scope="row"><i class="fa-solid fa-square-check"></i>&nbsp;&nbsp;<i class="fa-solid fa-circle fa-cicle-color"></i></th>
                <td>adminRahasia123</td>
                <td>089672832132</td>
                <td>ebdesk@gmail.com</td>
                <td>Test123@</td>
                <td><button type="button" class="btn btn-secondary btn-btn-color-2">Active</button></td>
                <td>...</td>
              <tr>
                <th scope="row"><i class="fa-solid fa-square-check"></i>&nbsp;&nbsp;<i class="fa-solid fa-circle fa-color-2"></i></th>
                <td>adminRahasia123</td>
                <td>089672832132</td>
                <td>ebdesk@gmail.com</td>
                <td>Test123@</td>
                <td><button type="button" class="btn btn-secondary btn-btn-color-2">Active</button></td>
                <td>...</td>
              </tr>
              <tr class="table-light">
                <th scope="row"><i class="fa-solid fa-square"></i>&nbsp;&nbsp;<i class="fa-solid fa-circle fa-cicle-color"></i></th>
                <td>adminRahasia123</td>
                <td>089672832132</td>
                <td>ebdesk@gmail.com</td>
                <td>Test123@</td>
                <td><button type="button" class="btn btn-secondary btn-btn-color">Active</button></td>
                <td>...</td>
              </tr>
              <tr class="table-light">
                <th scope="row"><i class="fa-solid fa-square"></i>&nbsp;&nbsp;<i class="fa-solid fa-circle fa-color-2"></i></th>
                <td>adminRahasia123</td>
                <td>089672832132</td>
                <td>ebdesk@gmail.com</td>
                <td>Test123@</td>
                <td><button type="button" class="btn btn-secondary btn-btn-color">Active</button></td>
                <td>...</td>
              </tr>
              <tr>
                <th scope="row"><i class="fa-solid fa-square-check"></i>&nbsp;&nbsp;<i class="fa-solid fa-circle fa-cicle-color"></i></th>
                <td>adminRahasia123</td>
                <td>089672832132</td>
                <td>ebdesk@gmail.com</td>
                <td>Test123@</td>
                <td><button type="button" class="btn btn-secondary btn-btn-color">Active</button></td>
                <td>...</td>
              </tr>
              <tr>
                <th scope="row"><i class="fa-solid fa-square-check"></i>&nbsp;&nbsp;<i class="fa-solid fa-circle fa-color-2"></i></th>
                <td>adminRahasia123</td>
                <td>089672832132</td>
                <td>ebdesk@gmail.com</td>
                <td>Test123@</td>
                <td><button type="button" class="btn btn-secondary btn-btn-color-2">Active</button></td>
                <td>...</td>
              </tr>
            </tbody>
          </table>
          <div class="row">
              <div class="col page-1">
                <h6>Rows per page:10</h6>
              </div>
              <div class="col page-2">
                <h6>1-6 of 6</h6>
              </div>
          </div>
        </div>
</body>
</html>


<!-- <router-outlet></router-outlet> -->